/* .form-field {
  top: 100px;
  position: relative;
}
.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
  font-size: 16px;
  line-height: 1.17;
}

.form-input {
  background-color: transparent;
  padding: 16px 42px;
  width: 100%;
  border-radius: 8px;
}

.form-input:focus + .form-label {
  transform: translate(-24px, 63px);
  color: red;
} */

.form-field {
  top: 100px;
  position: relative;
}

.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
  font-size: 16px;
  line-height: 1.17;
  transition: transform 0.3s ease;
}

.form-input {
  background-color: transparent;
  padding: 16px 42px;
  width: 100%;
  border-radius: 8px;
}

.form-field:focus-within .form-label {
  transform: translate(-30px, -60px);
  color: red;
}
