.chefs-section {
  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  &__title {
    margin: 0 auto 80px;
    position: relative;
    &::after,
    &::before {
      content: '';
      border: 2px solid var(--color-brand-light);
      width: 352px;
      bottom: 24px;
      position: absolute; /*btw :==display block*/
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
