.formats-section {
  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }
}

// .swiper-slide {
//   flex-basis: calc((100% - 40px) / 3);
// }
